@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap');

* { 
	box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

:root {
    --brown: #C68B59;
    --dark: #321A18;
    --white: #ffffff;
    --inter: 'Inter', sans-serif;
    --playfair: 'Playfair Display', serif;
  }

/* Navbar */
.navbar {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 90px;
    background-color: var(--dark);
    width: 100%;
}

.logo {
    margin-left: 8px;
    font-size: 1.9em;
}

.navbar a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.3em;
}

.logo-text {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    gap: 13px;
    font-family: var(--inter);
}

#toggler, 
.navbar label {
    display: none;
}

.btn-brown,
.learn {
    background-color: var(--brown);
    border: none;
    width: 130px;
    height: 55px;
    color: var(--white);
    cursor: pointer;
}
.btn-brown:hover,
.learn:hover {
    color: var(--dark);
    background-color: var(--white);
    border: 2px solid var(--dark);
}

.learn {
    background-color: transparent;
    border: 2px solid var(--white);
}

.order, .learn {
    width: 160px;
    height: 65px;
}
.list {
    display:flex;
    align-items: center;
}

i {
    color: var(--white);
}
/* Hero Section */

header {
    width: 100%;
    height: 100%;
    display:flex;
    background: url("/assets/coffee-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
    
}

#header-img {
    width: 78px;
    height: 78px;
}

.hero {
    max-width: 780px;
    margin-left: 45px;
    padding: 5em;
}

h1 {
    /* font-size: 5em; */
    font-size: clamp(1rem, 7 * 0.8vw, 4rem);
    padding: 20px 0px;
    font-family: var(--playfair);
}

p {
    line-height: 1.4;
    font-family: var(--inter);
    /* font-size: 1.4em; */
    font-size: clamp(1rem, 3 * 0.8vw, 2rem);
}

p, .cta {
    padding: 20px 0px;
}

.order, .learn {
    margin: 0px 15px;
}

.cta {
    display: flex;
}

.signup {
    margin-left: 55px;
}
@media screen and (max-width: 1010px) {
    .menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }

    .list {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    
    .navbar label{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
    #toggler:checked ~ .menu {
      max-height: 100%;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }

    h1 {
        /* font-size: 3.5em; */
        padding: 20px 0px;
    }
    
    p {
        line-height: 1.5;
    }

    .hero {
        max-width: 540px;
        margin-left: 0px;
        padding: 5em;
    }

    .signup {
        margin-left: 0px;
    }

    .order, .learn {
        margin: 0px 5px;
        width: 110px;
        height: 45px;
    }
  }

  @media screen and (max-width: 596px) {
    .navbar {
        padding: 10px 60px;
    }

    h1 {
        /* font-size: 2.5em; */
        padding: 20px 0px;
    }
    
    p {
        line-height: 1.1;
        /* font-size: 1.5em; */
    }

    .hero {
        max-width: 80%;
        margin-left: 0;
        padding: 2em;
    }

    .order, .learn {
        margin: 0px 5px;
        width: 110px;
        height: 45px;
    }

    
  }